body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: cadetblue;
}
header {
            text-align: center;
            padding: 20px;
            background-color: aquamarine;
            color: black;
}
form {
    background: darkcyan;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: green;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

table { background: darkcyan;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid ;
    padding: 8px;
    text-align: left;
}

th {
    background-color: darkcyan;
}

